.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-section__row .main-section__paragraph,
.main-section__row img {
  max-width: var(--main-content-width);
}

.main-section__row {
  margin-top: var(--vertical-space);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cover .main-section__row {
  margin-bottom: 0;
}

.main-section__title {
  font-size: 10vw;
  line-height: 12vw;
  font-family: var(--header-font);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 10px;
}

.main-section__subtitle {
  font-size: 3vw;
  letter-spacing: 8px;
  font-family: var(--body-font);
  font-weight: 300;
  font-style: normal;
}
.main-section__title,
.main-section__subtitle {
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .main-section__title {
    font-size: 10vw;
    line-height: 12vw;
    letter-spacing: 8px;
  }
  .main-section__row {
    margin-top: var(--vertical-space-lg);
  }
}

@media screen and (max-width: 479px) {
  .main-section__row .main-section__paragraph,
  .main-section__row img {
    max-width: var(--mobile-content-width);
  }
  .main-section__row {
    margin-top: var(--vertical-space-lg);
  }
  .main-section__row--header {
    margin-top: var(--vertical-space-lg);
  }
  .main-section__title {
    font-size: 10vw;
    line-height: 12vw;
    letter-spacing: 6px;
  }
  .main-section__subtitle {
    font-size: 4vw;
    letter-spacing: 5px;
  }
}

.main-section__row--header {
  margin-top: var(--vertical-space);
  z-index: 2;
}
.main-section__row--content {
  margin-top: 1%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.main-section__paragraph {
  text-align: left;
  font-size: 6vw;
  line-height: 7vw;
  letter-spacing: 1px;
  margin: var(--vertical-space-sm) 0;
  font-family: var(--body-font);
  font-weight: 300;
  font-style: normal;
}

.main-section__poster {
  width: 40%;
}

.row--2-col {
  display: flex;
}
.main-section__paragraph--sm {
  font-size: 3vw;
  line-height: 4vw;
}

.paragraph-highlight {
  font-family: var(--body-font);
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
}

@media screen and (max-width: 991px) {
  .main-section__poster {
    width: 50%;
  }
  .main-section__paragraph--sm {
    font-size: 4vw;
    line-height: 5vw;
  }
}

@media screen and (max-width: 479px) {
  .main-section__poster {
    width: 100%;
  }
  .main-section__paragraph--sm {
    font-size: 4vw;
    line-height: 6vw;
  }
}

.main-section__caption {
  font-size: 18px;
  /* text-align: center; */
  line-height: 1.5em;
}
.paragraph--bold {
  font-weight: 700;
}

.main-section__caption a {
  color: var(--house-color);
  /* border-bottom: 2px solid var(--house-color); */
}
.main-section__caption a:hover {
  color: var(--sunset-pink);
  transition: color 1s ease;
}

#contact .main-section__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact__link {
  filter: invert(1);
}

@media screen and (max-width: 991px) {
  .contact__link {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  #contact .main-section__row {
    flex-direction: column;
  }
  .contact__link {
    width: 100%;
  }
}

#contact .main-section__paragraph {
  text-align: center;
  line-height: 1.5em;
  font-family: var(--body-font);
  font-weight: 300;
  font-style: normal;
}

/* #temporary */
.navbar__link--status {
  opacity: 0;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 95%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
